.topbarContainer{
    height: 100px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    position: sticky;
    background-color:  rgba(255, 255, 255, 0);
    
}

.topbarLeft{
    display: flex;
    flex: 3;
}
.topbarCenter{
    flex: 5.5;
    align-items: center;
    justify-content: center;
    display: flex;

}
.topbarRight{
    /* width: 200px;
     */
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchBar{
    width: calc(100% - 40px);
    height: 40px;
    margin-left: 0%;
    background-color: rgb(255, 249, 246);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchIcon{
    height: 30px;
    margin: 15px;
}

.searchInput{
    height: 25px;
    font-size: 18px;
    border: none;
    margin-right: 20px;
    width: 90%;
    background: transparent;
    color:rgba(40, 36, 36);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:gray;
    opacity: 1; /* Firefox */
    }

.searchInput:focus{
    outline: none;
}

.logo{
    font-size: 30px;
    margin-left: 30px;
    /* margin-right: 30px; */
    font-weight: bold;
    color: rgb(243, 97, 12);
    cursor: pointer;
}

.topbarIcons{
    right: 35px;
    display: flex;
    position: absolute;
}

.topbarIcon{
    cursor: pointer;
    color: gray;
    position: relative;
    margin: 10px;
}

.iconNotification{
    width: 8px;
    height: 8px;
    background-color: rgb(243, 97, 12);
    border-radius: 4px;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarImageContainer{
    cursor: pointer;
    color: white;
    position: relative;
    margin-left: 20px;
}

.topbarImage{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}