.homeContainer{
    display: flex;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 100px);
}


.pageContainer{
    background-image: linear-gradient(150deg, rgb(243, 239, 239), rgb(246, 217, 197), rgb(244, 244, 243));
    /* overflow: hidden;
    position: fixed; 
    inset: 0; */
    /* same as top right bottom left */
}




